body{
    background-color: cornflowerblue;
}
hr{
    margin-top: 50px;
    border-width: 15px;
    border-style: none;
    border-top-style: dotted;
    width: 30%;
    border-color: black;
}
h1,h2{
    text-align: center;
}